body{
    width: 100%;
  
}


main{
    
    background-color: black;
    color: white;
    background-image: url('src/assets/react.svg');
    background-repeat: no-repeat;
    background-size:  30%;
    background-position-x: right;
    background-position-y: top;

}

